* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ig-primary-background: rgb(0, 0, 0);
    --ig-secondary-background: rgb(20, 20, 20);

    --ig-primary-text: rgb(245, 245, 245);
    --ig-secondary-text: rgb(170, 170, 170);

    --ig-primary-blue: rgb(0, 150, 250);
    --ig-facebook-blue: rgb(55, 120, 235);

    --ig-input-border: rgb(85, 85, 85);
    --ig-separator: rgb(55, 55, 55);
}

body {
    display: grid;
    place-content: center;

    height: 100vh;

    background-color: var(--ig-primary-background);
    font-family: sans-serif;
    font-size: 0.9rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    margin-bottom: 7.5rem;
}

.login-container,
.signup-container {
    width: 350px;
    border: 1px solid var(--ig-separator);
}

.login-container {
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    height: 50px;

    margin: 2rem 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    padding: 0 2.5rem;
}

.login-form input {
    padding: 0.75rem 0 0.75rem 0.5rem;

    background-color: var(--ig-secondary-background);
    color: var(--ig-primary-text);
    outline: none;

    border: 1px solid var(--ig-input-border);
    border-radius: 2.5px;
}

.login-form input::placeholder {
    color: var(--ig-secondary-text);
    font-size: 0.8rem;
}

.login-form button {
    background-color: var(--ig-primary-blue);
    color: var(--ig-primary-text);
    font-weight: 600;

    border: none;
    border-radius: 7.5px;

    height: 30px;
    margin-top: 0.5rem;
}

.or-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 0 2rem 0;
}

.or-container span {
    background-color: var(--ig-separator);

    width: 100%;
    height: 1px;
}

.or-container p {
    color: var(--ig-secondary-text);
    font-size: 0.8rem;
    font-weight: 600;
}

.facebook-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding-bottom: 1rem;
}

.facebook-container a svg {
    width: 20px;
    height: 20px;

    fill: var(--ig-facebook-blue);
}

.facebook-container p {
    color: var(--ig-facebook-blue);
    cursor: pointer;
    font-weight: 600;
}

.forgot-password {
    color: var(--ig-primary-text);
    font-weight: 600;

    padding: 0.5rem 0;
}

.forgot-password:hover {
    color: var(--ig-secondary-text);
}

.signup-container {
    height: 65px;

    display: grid;
    place-content: center;
}

.signup-container p {
    color: var(--ig-primary-text);
}

.signup-container a {
    color: var(--ig-primary-blue);
    font-weight: 600;
    text-decoration: none;
}

.get-app {
    color: var(--ig-primary-text);
    text-align: center;

    padding: 0.25rem 0;
}

.download-container {
    display: flex;
    gap: 0.5rem;
}

.download-container img {
    width: 140px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer ul {
    color: var(--ig-secondary-text);
    font-size: 0.8rem;
    list-style: none;

    display: flex;
    gap: 1rem;
}

footer ul:first-child li {
    cursor: pointer;

    border-bottom: 1px solid transparent;
}

footer ul:first-child li:hover {
    border-bottom: 1px solid var(--ig-secondary-text);
}

.language-container select {
    background-color: var(--ig-primary-background);
    color: var(--ig-secondary-text);
    cursor: pointer;
    outline: none;

    border: none;
}

.copyright-container {
    display: flex;
    gap: 0.5rem;
}

.copyright-container a svg {
    fill: var(--ig-secondary-text);
    text-decoration: none;

    width: 15px;
    height: 15px;
}
