* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: rgb(0, 0, 0);
    --secondary-background: rgb(20, 20, 20);

    --primary-text: rgb(245, 245, 245);
    --secondary-text: rgb(170, 170, 170);

    --primary-blue: rgb(0, 150, 250);
    --facebook-blue: rgb(55, 120, 235);

    --primary-border: rgb(55, 55, 55);
    --secondary-border: rgb(85, 85, 85);

    --primary-divider: rgb(40, 40, 40);
}

body {
    display: grid;
    place-content: center;

    height: 100vh;

    background-color: var(--primary-background);
    font-family: sans-serif;
    font-size: 0.9rem;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    margin-bottom: 7.5rem;
}

/* Login */

.login-container {
    width: 350px;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--primary-border);
}

.login-logo {
    height: 50px;
    margin: 2rem 0;
}

/* Form */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    padding: 0 2.5rem;
}

.login-form input {
    padding: 0.75rem 0 0.75rem 0.5rem;

    background-color: var(--secondary-background);
    color: var(--primary-text);
    font-size: 0.8rem;
    outline: none;

    border: 1px solid var(--secondary-border);
    border-radius: 2.5px;
}

.login-form input::placeholder {
    color: var(--secondary-text);
}

.login-form button {
    background-color: var(--primary-blue);
    color: var(--primary-text);
    font-weight: 600;
    opacity: 0.7;

    border: none;
    border-radius: 7.5px;

    height: 30px;
    margin-top: 0.5rem;
}

/* Divider */

.form-divider {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    padding: 1rem 0 2rem 0;
}

.form-divider span:nth-child(odd) {
    background-color: var(--primary-divider);

    width: 100%;
    height: 1px;
}

.divider-text {
    color: var(--secondary-text);
    font-size: 0.8rem;
    font-weight: 600;
}

/* Facebook Login */

.login-facebook {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding-bottom: 1rem;

    color: var(--facebook-blue);
    font-weight: 600;
    text-decoration: none;
}

.login-facebook svg {
    width: 20px;
    height: 20px;

    fill: var(--facebook-blue);
}

/* Forgot Password */

.login-forgot {
    color: var(--primary-text);
    font-weight: 600;
    text-decoration: none;

    padding: 0.5rem 0;
}

.login-forgot:hover {
    color: var(--secondary-text);
}

/* Sign Up */

.signup-container {
    width: 350px;
    height: 65px;

    border: 1px solid var(--primary-border);

    display: grid;
    place-content: center;
}

.signup-container p {
    color: var(--primary-text);
}

.signup-container a {
    color: var(--primary-blue);
    font-weight: 600;
    text-decoration: none;
}

/* Get the App */

.getapp-text {
    color: var(--primary-text);
    text-align: center;

    padding: 0.25rem 0;
}

.getapp-container {
    display: flex;
    gap: 0.5rem;
}

.getapp-container a img {
    width: 140px;
    height: 40px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

footer ul {
    color: var(--secondary-text);
    font-size: 0.8rem;
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

footer ul:first-child li {
    cursor: pointer;

    border-bottom: 1px solid transparent;
}

footer ul:first-child li:hover {
    border-bottom: 1px solid var(--secondary-text);
}

/* Language */

.footer-language select {
    background-color: var(--primary-background);
    color: var(--secondary-text);
    cursor: pointer;
    outline: none;

    border: none;
}

/* Github */

.footer-github a svg {
    fill: var(--secondary-text);

    width: 15px;
    height: 15px;
}
